.scroll-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.accounting-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
    align-items: flex-start;
}

/* Cette classe gère la largeur automatique */
.dynamic-column {
    flex: 1; /* Chaque colonne prendra une part égale */
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    min-width: 0; /* Important pour éviter que le contenu ne casse le flex */
}

.dynamic-column:last-child {
    border-right: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    table-layout: fixed;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #003366; 
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    padding: 0;
    height: 40px;
    line-height: 40px;
    border-bottom: 3px solid #eea20e;
    overflow: hidden;
    white-space: nowrap;
}

td {
    padding: 4px 8px;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}